.header{
    padding: 15px 15px 15px 180px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #23334c;
 img{
    width: 48px;
    height: 48px;
 }  
 .text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: baseline;
    span:nth-child(1){
        color: white;
    }
    span:nth-child(2){
        color: #6CB146;
        font-size: 12px;
    }
 } 
}
.middlePart{
    width: 75%;
    margin: auto;
    h1{
    color: #23334c;
    font-weight: 900;
    font-size: 30px;
    padding: 25px 0px;
}
.tabchanger{
    display: flex;
    border-bottom: 1px solid #F1F1F4;
}
.tableList{
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 13px 1px #ccc;
}}

.parent{
    .top{
        display: flex;
        align-items: flex-end;
        img{
            width: 100px;
            margin-right: 10px;
        }
        .name{
            display: flex;
            flex-direction: column;
             align-items: baseline;
        }
    }
    .price{
        font-size: 16px;
        font-weight: 900;
        margin-top: 20px;
        margin-bottom: 12px;
    }
    .priceParent{
        .value{
            display: flex;
            justify-content: space-between;
            padding-bottom: 8px;        
        }
    }
    .buttonClass{
        text-align: center;
        margin-top: 25px;
        button{
            background: white;
            padding: 10px;
        }
    }
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000007d;
  }
  .caledareCss{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  @media screen and (max-width: 767px) {
    .header {
        padding-left: 48px;
    }
    .tabchanger{
        flex-direction: column;
        align-items: baseline;
    }
    .change{
    margin-top: 20px;
    width: 24% !important;
}
    .selectParent {
        right: 0px !important;
        top: 3px !important;
        width: 22.8% !important;
    }
  }


  .selectParent{
    position: relative;
    top: 38px;
    right: 191px;
    border: 1px solid #ccc5c5;
    width: 17.8%;
    .select{
        background: white;
    padding: 12px;
    border-bottom: 1px solid #eaeaea;
    color: black;
    }
  }
  .change{
      width: 18%;
      height: 35px;
  }