.parentOuter{
    background: white;
    width: 250px;
    height: 285px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 16px 0px #9b9b9b70;
}

.fullWidth{
    width:100% !important;
}