body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 101%;
    table-layout: fixed;
  }
    
  table tr {
    background-color: white;
    border: 1px solid #ddd;
    padding: .35em;
    th:nth-child(1){
        width: 13%;
    }
    th:nth-child(2){
        width:25%;
    }
  }
  .header{
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    background-color: #F1F1F4;
    font-weight: bold;
    font-size: 20px;
  }
  
  table th,
  table td {
    padding: 18px;
    text-align: center;
    .tableBodyCell{
        border-bottom: 0.1px solid #ebebeb;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        vertical-align: middle;
    }
    .flex{
        display: flex;
        flex-direction: column;
        color: #2B416C;
        align-items: baseline;
        span:nth-child(1){
          font-weight: 900;
        }
        span:nth-child(2){
          color: #5f5a5ac7;
        }
      }
      .secondRow{
        display: flex;
        img{
          width: 35px;
          height: 35px;
        }
        .text{
          margin-left: 8px;
          display: flex;
          flex-direction: column;
          color: #2B416C;
          align-items: baseline;
          span:nth-child(1){
            font-weight: 900;
          }
          span:nth-child(2){
            color: #5f5a5ac7;
          }
        }
      }
      .thirdRow{
        display: flex;
        align-items: center;
        img{
          width: 23px;
          height: 23px;
        }
        span{
          margin-left: 8px;
          color: #5f5a5ac7;
        }
      }
      .fourthRow{
        display: flex;
        align-items: center;
        img{
          width: 18px;
          height: 25px;
        }
        span{
          margin-left: 8px;
          color: #5f5a5ac7;
        }
      }
      .fifthRow{
        display: flex;
        align-items: center;
        img{
          width: 23px;
          height: 25px;
        }
        span{
          margin-left: 8px;
          color: #5f5a5ac7;
        }
      }
      .sixthRow{
        display: flex;
        align-items: center;
        img{
          width: 22px;
          height: 22px;
        }
        span{
          margin-left: 8px;
          color: #5f5a5ac7;
        }
      }
      .tableHeaderCell{
        padding: 10px;
         text-align: justify;
         color: #23334c;
         font-size: 17px;
         padding-right: 20px;
    }
  }
  
  table th {
    padding: 10px;
    text-align: justify;
    color: #23334c;
    font-size: 17px;
    padding-right: 20px;
    .tableHeaderCell{
        padding: 10px;
         text-align: justify;
         color: #23334c;
         font-size: 17px;
         padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 2px solid #ccccccba;
      display: block;
    }
      .header{
        border-bottom: 1px solid #d8d8d8;
        border-top: 1px solid #d8d8d8;
        background-color: #F1F1F4;
        font-weight: bold;
        font-size: 20px;
      }
    
    table td {
      padding: .625em;;
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {

      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    table tbody :last-child{
        border: none;
    }
  }